{% load crispy_forms_tags %}
<div class="modal fade" id="login">
    <div class="modal-dialog centered modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Login</h1>
            </div>
            <form action="{% url 'auth:login' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
					{% comment %}
                    <div class="mb-3">
                        <label for="username" class="col-form-label">Username:</label>
                        {{ login_form.username }}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="col-form-label">Password:</label>
                        {{ login_form.password }}
                    </div>
                </div>
				{% endcomment %}
				<div class="modal-body">
                    {{ login_form|crispy }}
                </div>
            </form>
			<div class="d-flex justify-content-center" style="display: none;">
				<div class="spinner-border" role="status" id="spinner" style="display: none;">
				  <span class="visually-hidden">Loading...</span>
				</div>
			  </div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="submit" type="submit">Login</button>
				<button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
			<ul class="messages" style="padding-left: 27%;">
					<li style="list-style-type: none;">
						<small id="err-msg">{{ message }}</small>
					</li>
			</ul>
        </div>
    </div>
</div>
<style>
	.asteriskField {
    display: none;
}
</style>

