<div class="modal fade" id="#enroll">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Sign Up</h1>
            </div>
            <form method="post" action="{% url 'auth:signup' %}">
                {% csrf_token %}
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
