{% extends 'core/base.html' %}
{% load static %}
{% block content %}

	<form method="GET" action="." class="mt-4">
		<input type="text" name="query" value="{{ query }}"  class="form-control" />
		<button class="btn btn-primary mt-2">Search</button>
	</form>
	<div class="mt-5 mb-4">
		<table class="table table-bordered">
			<thead class="table-primary">
				<tr>
					<th>#</th>
					<th>Available Seats</th>
					<th>Schedule</th>
					<th>Bus</th>
					<th>Route (From - To)</th>
					<th>Fare</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for schedule in schedules %}
				<tr>
					<td class="px-2 py-1 align-middle text-center">{{ forloop.counter }}</td>
					<td class="px-2 py-1 align-middle text-center">{{ schedule.bus.number_of_seats }}</td>
					<td class="px-2 py-1 align-middle text-center">
						{{ schedule.date|date:"Y-m-d h:i A" }}
					</td>
					<td>
						<div class="row row-cols-1">
							<div class="col">
								{{ schedule.bus.name }}
							</div>
							<div class="col">
								<small class="muted">{{ schedule.bus.number }}</small>
							</div>
						</div>
						</td>
					<td>
						<div class="row row-cols-1">
							<div class="col">
								{{ schedule.departure }}
							</div>
							<div class="col">
								{{ schedule.destination }}
							</div>
						</div>
					</td>
					<td class="px-2 py-1 align-middle text-center">{{ schedule.price }}</td>
					<td class="px-2 py-1 align-middle text-center"><a href="{% url 'booking' schedule.code %}">Book</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>	
	</div>
	<style>
table.table-bordered > thead > tr > th{
    border:1px solid #fff;
}
thead {
  border-bottom-width: 2px;
}
	</style>
{% endblock %}
