{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
<div class="mt-5 mb-4">
	<div class="card bg-light">
		<div class="card-header fw-bold">Searched Trip Result</div>
		<div class="card-body">
			<fieldset>
				<legend>Looking for</legend>
				<dl class="row my-0">
					<dt class="col-auto fw-bold">Date:</dt>
					<dd class="col-auto flex-grow-1 flex-shrink-1">{{ date }}</dd>
				</dl>
				<dl class="row my-0">
					<dt class="col-auto fw-bold">Depart:</dt>
					<dd class="col-auto flex-grow-1 flex-shrink-1">{{ depart }}</dd>
				</dl>
				<dl class="row my-0">
					<dt class="col-auto fw-bold">Destination:</dt>
					<dd class="col-auto flex-grow-1 flex-shrink-1">{{ destination }}</dd>
				</dl>
			</fieldset>
			<table class="table table-bordered">
				<thead class="table-primary">
					<tr class="px-2 py-1 align-middle text-center">
						<th>#</th>
						<th>Available Seats</th>
						<th>Schedule</th>
						<th>Bus</th>
						<th>Route (From - To)</th>
						<th>Fare</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for schedule in schedules %}
					<tr>
						<td class="px-2 py-1 align-middle text-center">{{ forloop.counter }}</td>
						<td class="px-2 py-1 align-middle text-center">{{ schedule.bus.number_of_seats }}</td>
						<td class="px-2 py-1 align-middle text-center">
							{{ schedule.date|date:"Y-m-d h:i A" }}
						</td>
						<td>
							<div class="row row-cols-1">
								<div class="col">
									{{ schedule.bus.name }}
								</div>
								<div class="col">
									<small class="muted">{{ schedule.bus.number }}</small>
								</div>
							</div>
							</td>
						<td>
							<div class="row row-cols-1">
								<div class="col">
									{{ schedule.departure }}
								</div>
								<div class="col">
									{{ schedule.destination }}
								</div>
							</div>
						</td>
						<td class="px-2 py-1 align-middle text-center">{{ schedule.price }}</td>
						<td class="px-2 py-1 align-middle text-center">
							{% if schedule in booked %}
							<button type="button" class="btn btn-secondary btn-sm" disabled>Booked</button>
							{% else %}
							<a href="{% url 'booking' schedule.code %}" class="btn btn-outline-primary btn-sm">
								<div class="d-flex align-items-center gap-1  align-middle">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-fill" viewBox="0 0 16 16">
										<path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13Z"/>
									</svg>
									<span class="text-center book">
										Book
									</span>									
								</div>
							</a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>	
			<div class="d-flex justify-content-end">
				{% if items_page %}
					{% if items_page.has_other_pages %}
						<div class="btn-group" role="group" aria-label="Item pagination">
							{% if items_page.has_previous %}
								<a href="?page={{ items_page.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
							{% endif %}
						
							{% for page_number in items_page.paginator.page_range %}
								{% if items_page.number == page_number %}
									<button class="btn btn-outline-primary active">
										<span>{{ page_number }} <span class="sr-only"></span></span>
									</button>
								{% else %}
									<a href="?page={{ page_number }}" class="btn btn-outline-primary">
										{{ page_number }}
									</a>
								{% endif %}
							{% endfor %}
								
							{% if items_page.has_next %}
								<a href="?page={{ items_page.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
							{% endif %}
						</div>
					{% endif %}
				{% else %}
					<p>No items found.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
