{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5 py-5">
    <div class="row justify-content-center py-5">
        <div class="col-md-6 text-center">
            <h2 class="mb-4">Payment with <span><img style="width:100px; margin-bottom: 5px;" src="https://yenepayprod.blob.core.windows.net/images/logo.png"></span></h2>
            <p class="lead">Click the button below to proceed with the payment.</p>
            <a href="https://yenepay.com/checkout/Home/Process/?ItemName=Ticket&ItemId=&UnitPrice=5&Quantity=1&Process=Express&ExpiresAfter=&DeliveryFee=&HandlingFee=&Tax1=&Tax2=&Discount=&SuccessUrl=http://localhost:8000/pay/success&IPNUrl=http://localhost:8000/pay/ipn&MerchantId=33431" class="btn btn-primary btn-lg">Proceed to Payment</a>
        </div>
    </div>
</div>
{% endblock %}
